rofi.terminal: urxvt

! special
*.foreground:   #839496
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #073642
*.color8:       #002b36

! red
*.color1:       #dc322f
*.color9:       #cb4b16

! green
*.color2:       #859900
*.color10:      #586e75

! yellow
*.color3:       #b58900
*.color11:      #657b83

! blue
*.color4:       #268bd2
*.color12:      #839496

! magenta
*.color5:       #d33682
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #62b3e4

! white
*.color7:       #eee8d5
*.color15:      #fdf6e3

URxvt.font: xft:SauceCodePro Nerd Font Mono:size=12
URxvt.boldFont: xft:SauceCodePro Nerd Font Mono:bold:size=12
URxvt.italicFont: xft:SauceCodePro Nerd Font Mono:italic:size=12
URxvt.boldItalicfont: xft:SauceCodePro Nerd Font Mono:bold:italic:size=12
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 12
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false

URxvt.skipBuiltinGlyphs: true
URxvt.title: urxvt
URxvt.termName: rxvt-unicode-256color

Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        96
Xft.hinting:    true
Xft.hitstyle:   hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Perl Extensions
URxvt.perl-ext-common: default,url-select,clipboard,resize-font

! URL opening
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

! Copy-Paste
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

!Font Resizing
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.resize-font.step:   2
